<div class="row fixed-top" style="padding-left: 25px;padding-right: 15px; background: white;">
    <div class="col-6 d-flex align-items-center text-white font-weight-bold">
        <h3 style="font-weight: bold;margin-right: 2px;color: #0f6586;"><a routerLink="/"
                routerLinkActive="active">Linked</a></h3>
        <img src="https://image.flaticon.com/icons/png/512/174/174857.png" alt=""
            style="height: 5vh;width: 5vh;margin-bottom: 10px;">
    </div>

    <div class="col-6 d-flex justify-content-end align-items-center font-weight-bold"
        style="height: 60px;font-family: monospace;">
        <button onclick="openSignup()" id="joinNow" onmouseover="hower1()" onmouseout="hower2()"
            style="border: 0px;background: white;font-family:'sans-serif';font-weight: bold;color: grey;border-radius:5px ;">Join
            now</button>
    </div>
</div>