<div class="container-fluid">
    <form onsubmit="return validate()" class="login-form" action="https://www.google.com/">
        <div class="row" style="height: 100px;">
        </div>

        <div class="row justify-content-center" style="height: auto;">
            <div class="col-md-6  d-flex flex-column align-items-center">
                <h1 class="mb-5 font-weight-light text-uppercase">Forgot Password</h1>
                <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Email Id"
                    style="width: 340px;font-size: 15px;min-height: 48px; ">
            </div>
        </div>

        <div class="row  justify-content-center">
            <div class="col-md-6 d-flex flex-column align-items-center" style="margin-bottom: 13vh;">
                <button onmouseover="over()" onmouseout="out()" id="button" type="submit"
                    class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase"
                    style="font-size: 15px;min-height: 48px; width: 340px;background: #3010e6;color:#fff;font-weight: 600;">Send
                    reset link</button>
            </div>
        </div>
    </form>
</div>