<div class="container-fluid">
    <div class="row mb-2 " style="background:rgb(40,60,74)">
        <div class="col-md-2 pt-2 text-align:right">
            <h3 style="font-weight: bold; color:white;">Linked<i class="fa fa-linkedin-square" aria-hidden="true"
                    style="color: white;"></i>
            </h3>
        </div>
        <div class="col-md-3 d-flex justify-content-start pt-2"><input type="text" placeholder="Search here"
                class="form-control"></div>
        <div class="col-md-7">
            <div class="row justify-content-end">
                <div (click)="gotoHome()" class="col-2 p-0 d-flex justify-content-end"><button class="btn "
                        style="font-size: 10px; background:rgb(40,60,74);color:white"><i class="fa fa-home"
                            aria-hidden="true" style="font-size: 1.5rem;color:white"></i><br> Home</button></div>
                <div class="col-2 p-0 d-flex justify-content-end"><button class="btn "
                        style="font-size: 10px;background:rgb(40,60,74);color:white"><i class="fa fa-suitcase"
                            aria-hidden="true" style="font-size: 1.5rem;color:white"></i><br>Jobs</button></div>
                <div class="col-2 p-0 d-flex justify-content-end"><button class="btn "
                        style="font-size: 10px;background:rgb(40,60,74);color:white"><i class="fa fa-comments"
                            aria-hidden="true" style="font-size: 1.5rem;color:white"></i><br>Message</button></div>
                <div (click)="gotoProfile()" class="col-2 p-0 d-flex justify-content-end"><button class="btn "
                        style="font-size: 10px;background:rgb(40,60,74);color:white"><i class="fa fa-user-circle"
                            aria-hidden="true" style="font-size:1.5rem;color:white"></i><br>Me</button></div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-9 d-flex flex-column mt-2" style="height:100px; border:1px solid black">
            <div class="col d-flex ">
                <div class="col-5 p-2 mt-3">
                    <input type="text" placeholder="Search by Title or skill" class="form-control" id="textbox">
                </div>
                <div class="col-5 p-2 mt-3">
                    <input type="text" placeholder="Search by Location" class="form-control" id="textbox">
                </div>
                <div class="col-2 p-2 mt-3">
                    <button class="btn btn-dark btn-block">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-9 d-flex flex-column mt-5 p-2" style="height:55vh; border:1px solid black">
            <div style="font-size:20px;">Based on your Profile</div>
            <div class="col d-flex justify-content-center p-3 ">

                <div class="col-md-4 p-2 m-2" style="height:30vh;border:1px solid black">
                    <div>Cloud Services Engineer<br>
                        <b>VMware India</b><br>
                        Experience:4 - 8 years<br>
                        Salary:Not Disclosed<br>
                        Location:Bengaluru</div>
                    <div><button class="btn btn-primary btn-block">Apply</button></div>
                </div>
                <div class="col-md-4 p-2 m-2" style="height:30vh;border:1px solid black">
                    <div>Software Developer- Java Freshers<br>
                        <b>Aalam Info Solutions</b><br>
                        Experience:0 - 2 years<br>
                        Salary:₹ 2,00,000 - 5,00,000 P.A.<br>
                        Location:Chennai, Erode</div>
                    <div><button class="btn btn-primary btn-block ">Apply</button></div>
                </div>
                <div class="col-md-4 p-2 m-2" style="height:30vh;border:1px solid black">
                    <div>Fresher/Machine Learning Project<br>
                        <b>Creative Hands HR Consultancy</b><br>
                        Experience:0 years<br>
                        Salary:₹ 3,00,000 - 4,00,000 P.A.<br>
                        Location:Chennai, Mumbai,Hyderabad</div>
                    <div><button class="btn btn-primary btn-block">Apply</button></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end ">
        <button (click)="gotoProfile()" type=" button" class="btn btn-primary">see profile </button>
        <button (click)="completeprofile()" type=" button" class="btn btn-success ml-2">Complete Your profile</button>
        <button (click)="signout()" type=" button" class="btn btn-danger ml-2">logout</button>
    </div>

</div>


<!--<button (click)="gotoProfile()" type=" button" class="btn btn-primary">see profile </button>
<button (click)="signout()" type=" button" class="btn btn-danger">logout</button>
<button (click)="completeprofile()" type=" button" class="btn btn-success">Complete Your profile</button>-->